/* Julie */
.rrTitle {
  text-align: left;
  margin-left: 4%;
}

.rrContainer {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin-left: 4%;
  margin-right: 4%;
}

.ratings1Container {
  width: 30%;
  margin-right: 3%;
}

.ratingOverall {
  display: flex;
  flex-direction: row;
}

.ratingOverallNum {
  font-size: 50px;
  font-weight: bold;
  margin-right: 5%;
  color: var(--secondary);

}

.ratingsOverallStars {
  margin-top: 3%;
  margin-bottom: 8%;
}

.starsName {
  text-decoration: underline;
  cursor: pointer;
}

.RatingsSide {
  float: left;
  width: 23%;
  margin-top:3px;
}

.RatingsMiddle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Clear floats after the columns */
.RatingsRow:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar {height: 10px; background-color: #606060;}
.charbar {height: 10px; text-align: right; color: black;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 100px) {
  .RatingsSide, .RatingsMiddle {
    width: 100%;
  }
}

.ratingsCharsBreakdown {
  margin-top: 3%;
}

.ratingCharBreakdown {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
}

.ratingCharMiddle {
  margin-top:10px;
  float: left;
  width: 93%;
}

.ratingCharName {
  margin-bottom: -1%;
  margin-top: 3%;
}

.ratingCharValues {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 93%;
  font-size: 12px;
  font-style: italic;
  color: var(--secondary);
  margin-top: 1%;
}

.ratingCharPointer {
  padding-bottom: 8%;
}

.reviewSorting {
  display: flex;
  flex-direction: row;
}

.reviewSorting {
  display: flex;
  flex-direction: row;
}

.reviewContainer {
  width: 70%;
}

.review {
  font-size: 15px;
  padding: 1%;
  margin-bottom: 2%;
  text-align: left;
  border-bottom: 1px solid var(--secondary);
}

.reviewHeader {
  font-size: 10px;
  display: flex;
  flex-direction: row;
}

.reviewRating {
  margin-right: 30%;
  margin-right: auto;
}

.reviewReviewerName {

}

.reviewDate {

}

.reviewSummary {
  margin-top: 2%;
  font-size: 16px;
  font-weight: bold;
}

.reviewBody {
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.reviewRecommend {
  font-size: 12px;
  font-style: italic;
  margin-left: 2%;
  margin-bottom: 2.5%;
}

.reviewRecommend {
  font-size: 12px;
  font-style: italic;
  margin-left: 2%;
  margin-bottom: 2.5%;
}

.reviewPhotos {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.reviewPhoto {
  padding: 0.3%;
}

.reviewFooter {
  font-size: 11px;
  display: flex;
  flex-direction: row;
}

.reviewHelpfulness {
  display: flex;
  flex-direction: row;
  margin-right: 3%;
}

.yes {
  text-decoration: underline;
  margin-left: 1%;
}

.reportText {
  text-decoration: underline;
}

.buttonRR {
  background: var(--primary) url("http://localhost:3000/assets/icons/plus.png") right 20px center / 16px no-repeat;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 56px;
  padding: 10px 20px;
  text-align: left;
  width: 20%;
}

#loadMoreReviewsButton {
  background: var(--primary);
  text-align: center;
  width: 23%;
  margin-right: 10%;
}

#addReviewButton {
  width: 23%;
}

#submitButton {
  background: var(--primary);
  width: 30%;
  height: 45px;
  text-align: center;
  margin-right: 15%;
  margin-left: 10%;
}

#cancelButton {
  background: var(--primary);
  width: 30%;
  height: 45px;
  text-align: center;
}

.modalrr {
  width: 60%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  left: 20%;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  padding-bottom: 5px;
  margin-bottom: 5%;
  margin-top: 5%;
}






