/* Julie */
.rrTitle {
  text-align: left;
}

.rrContainer {
  display: flex;
  flex-direction: row;
}

.ratings1Container {
  width: 25%;
  border-style: solid;
  border-color: blue;
  margin-right: 3%;
}

.reviewContainer {
  width: 75%;
}

.review {
  font-size: 15px;
  padding: 1%;
  text-align: left;
}

.reviewHeader {
  font-size: 10px;
  display: flex;
  flex-direction: row;
}

.reviewRating {
  margin-right: 30%;
  margin-right: auto;
}

.reviewReviewerName {

}

.reviewDate {

}

.reviewSummary {
  font-size: 15px;
  font-weight: bold;
}

.reviewFooter {
  font-size: 10px;
  display: flex;
  flex-direction: row;
}





