.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--primary);
}

.navBar ul {
  list-style: none;
}

.navBar li {
  display: inline-block;
  margin-left: 10px;
}

.navBar a {
  color: var(--font-color);
  text-decoration: none;
}